pkgbase = aria-bin
	pkgdesc = A Misskey client app forked from Miria.
	pkgver = 1.3.6
	pkgrel = 1
	url = https://github.com/poppingmoon/aria
	arch = x86_64
	license = AGPL3
	depends = gtk3
	depends = libsecret
	source = https://github.com/poppingmoon/aria/releases/download/v1.3.6/aria-v1.3.6-linux-x64.tar.gz
	source = https://raw.githubusercontent.com/poppingmoon/aria/refs/tags/v1.3.6/snap/gui/aria.png
	source = https://raw.githubusercontent.com/poppingmoon/aria/refs/tags/v1.3.6/snap/gui/aria.desktop
	source = https://raw.githubusercontent.com/poppingmoon/aria/refs/tags/v1.3.6/LICENSE
	sha256sums = c6fe87164988221f763f8d0442f0193af7b7b585ace219c886cd087e0f5a67ec
	sha256sums = f4a6a6afadd04f48f56013d60a4b8c6050a9c10f561b559e05db5a5c1ac9e4c0
	sha256sums = 1b1874df3d87a7410712c470b236db572b8d04a3b73fb41c05eb0c85f1ed0033
	sha256sums = 8486a10c4393cee1c25392769ddd3b2d6c242d6ec7928e1414efff7dfb2f07ef

pkgname = aria-bin
